.redes--facebook {
  background-color: #3a5795; }

.redes--instagram {
  background-color: #be188d; }

.redes, .redes--facebook--imagen, .redes--instagram--imagen {
  width: 20px;
  height: 20px;
  display: inline; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0; }

.mainindex {
  height: 80vh;
  background-image: url("../imagenes/fondo_pagina.PNG");
  background-size: cover; }
  .mainindex h1 {
    font-size: 100px;
    justify-items: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  .mainindex p {
    font-size: 30px;
    justify-items: center;
    align-items: center; }

.ul-header li {
  display: inline;
  align-content: center;
  justify-items: space-evenly;
  padding: 10px; }

.mainservicios {
  grid-area: main; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 10px solid whitesmoke; }

.col-lg-4 {
  margin: 0;
  padding: 25px; }

#servicios {
  padding: 30px 0px; }
  #servicios h1 {
    text-align: center; }
  #servicios .card {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: whitesmoke; }
  #servicios img {
    width: 100%;
    height: 250px; }
  #servicios .col-md-4 {
    margin: 0;
    padding: 25px; }
  #servicios .card:hover {
    border: 10px solid whitesmoke; }

#nosotros {
  padding: 30px 0px; }
  #nosotros h1 {
    text-align: center; }
  #nosotros .card {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: whitesmoke; }
  #nosotros img {
    width: 100%;
    height: 60vh; }
  #nosotros .col-md-4 {
    margin: 0;
    padding: 25px; }
  #nosotros .card:hover {
    border: 10px solid whitesmoke; }

@media (max-width: 576px) {
  .mainindex {
    height: 90vh;
    background-image: url("../imagenes/fondo_pagina.PNG");
    background-size: cover; }
  .mainindex h1 {
    font-size: 40px;
    justify-items: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  .mainindex p {
    font-size: 20px;
    justify-items: center;
    align-items: center; } }
