.redes--facebook {
  background-color: #3a5795; }

.redes--instagram {
  background-color: #be188d; }

.redes, .redes--facebook--imagen, .redes--instagram--imagen {
  width: 20px;
  height: 20px;
  display: inline; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0; }

.mainindex {
  height: 80vh;
  grid-area: main;
  background-image: url("../imagenes/fondo_pagina.PNG");}
  
  .mainindex h1 {
    font-size: 100px;
    justify-items: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  .mainindex p {
    font-size: 30px;
    justify-items: center;
    align-items: center; }

.ul-header li {
  display: inline;
  align-content: center;
  justify-items: space-evenly;
  padding: 10px; }

.mainservicios {
  grid-area: main; }
